:root {
  /* General */
  --font-size-small: 0.9rem;
  --font-size-middle: 1.1rem;
  --font-size-large: 1.5rem;

  // Base text sizes
  --text-s: 0.5rem;      // 10px
  --text-base: 0.9rem;  // 16px
  --text-xs: 0.75rem;    // 12px
  --text-sm: 0.875rem;   // 14px
  --text-lg: 1.0rem;   // 18px
  --text-xl: 1.25rem;    // 20px
  --text-2xl: 1.5rem;    // 24px
  --text-3xl: 1.875rem;  // 30px
  --text-4xl: 2.25rem;   // 36px
}