:root {
  /* General */
  --background-blue: #0937B2;
  --background-grey: #F5F5F5;
  --background-disabled: #C8CDD3;
  --background-hover:#F5F7FC;
  --text-white: #fff;
  --text-black: #181F33;
  --text-blue:#0937B2;
  --text-muted: #6A737D;
  --primary-border: #E0E0E0;
  --primary-text: #000;;
  --primary-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 12px 24px 0px rgba(0, 0, 0, 0.12);
  --disabled-border: #6A737D;
  --blue-shadow: 0 8px 24px #80b1fa3d;
  --special-text: #3e831e;
  /* Profile bubbles */
  --primary-bubble-background: #BBE6FF;
  --primary-bubble-text: #0B547D;
  --secondary-bubble-background: #deffe3;
  --secondary-bubble-text: #547F40;
  /* Status */
  --background-open-blue: #0937B2;
  --background-open-yellow: #ffff00;
  --background-open-red: #d33a1f;
  --background-open: #fff3d3;
  --text-open: #bd810a;
  --background-progress: #FAEFED;
  --text-progress: #ED711C;
  --background-closed: #E4F5E9;
  --text-closed: #547F40;
  /* Priority */
  --background-medium: #f3dc9d;
  --text-medium: #c2790b;
  --background-high: #f1aea2;
  --text-high: #d33a1f;
  --background-low: #dcfdb0;
  --text-low: #3e831e;
  /* Mobile */
  --mobile-card-header: #F5F7FC;
  --mobile-background-color: #FBFAFC;
  --mobile-card-shadow:  0px 8px 10px 0px rgba(83, 127, 231, 0.02);
}