@import '../../../styles/DesignConstants.scss';
.main-div {
  @include main-div;
}

.index-container {
  @include div-container;
}

.index-table-container {
  @include border-container;
}

.row {
  @include row;
}

.card {
  @include card;
}

.flexRow {
  @include flexRow;
}

.label {
  @include label;
}

.value {
  @include value;
}

.stock-table-container {
  @include div-container;
}

.stock-header {
  @include container-header;

  .seeMore {
    font-size: var(--font-size-small);
    color: var(--bull-text);
    text-decoration: none;
    font-weight: 500;
  }

  .refreshBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-middle);
    transition: transform 0.4s ease;
    outline: none;

    &.rotated {
      transform: rotate(90deg);
    }
  }
}

.stock-table {
  @include border-container;
}

.stock-table-head {
  @include table-columns;
}

.stock-table-row {
  @include table-rows;
}

.stock-company, .stock-sector, .stock-price, .stock-score, .stock-marketCap, .stock-dividend {
  @include row-items;
}

.neutral {
  @include neutral;
}

.positive {
  @include positive;
}
  
.negative {
  @include negative;
}

.pagination_container {
  @include pagination-container;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}