.main-div {
  width: 100%;
  position: absolute;
  top: 6rem;
  left: 0;
  display: flex;
  flex-direction: column; /* stack containers vertically */
  gap: 0.8rem; /* spacing between each container */
  background: var(--background-grey);

  @media (max-width: 768px) {
    top: 4rem;
    gap: 0.5rem;
    padding: 0 0.5rem;
  }
}

.index-container {
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  padding: 0 3% 1.5% 3%;
  font-family: 'Inter', sans-serif;

  @media (max-width: 768px) {
    padding: 0 1% 1% 1%;
  }
}

.index-table-container {
  width: auto;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-collapse: collapse;
  padding: 0.7%;

  @media (max-width: 768px) {
    width: 95%;
    border-radius: 8px;
    overflow-x: auto;
  }
}

.row {
   display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  flex-wrap: wrap;
  gap: 0.5%;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 2.5%;
    padding: 1.5% 1.5% 4.5% 1.5%;
  }
}

.card {
  flex: 1;
  min-width: 10%;
  margin: 1%;
  margin-bottom: 2%;
  background-color: var(--background-hover);
  padding: 1%;
  border-radius: 8px;
  text-align: left;

  &:hover {
    background-color: var(--background-disabled);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    min-width: 86%;
    padding: 0.75rem;
    font-size: var(--text-base);
  }
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 2%;

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
  }
}

.label {
  font-size: var(--font-size-small);
  color: var(--primary-text);

  @media (max-width: 768px) {
    font-size: var(--text-sm);
  }
}

.value {
  font-size: var(--font-size-small);
  color: var(--primary-text);
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: var(--text-xs);
  }
}

.stock-table-container {
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  padding: 0 3% 1.5% 3%;
  font-family: 'Inter', sans-serif;

  @media (max-width: 768px) {
    padding: 0 1% 1% 1%;
  }
}

.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text);

  h3 {
    font-size: var(--font-size-large);
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: var(--text-sm);
    }
  }

  .seeMore {
    font-size: var(--font-size-small);
    color: var(--bull-text);
    text-decoration: none;
    font-weight: 500;
  }

  .refreshBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-middle);
    transition: transform 0.4s ease;
    outline: none;

    &.rotated {
      transform: rotate(90deg);
    }
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    gap: 0.25rem;
  }
}

.stock-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid  var(--border-color); /* Optional outer border */

  @media (max-width: 768px) {
    font-size: var(--text-base);
  }
}

.stock-table-head {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: var(--font-size-small);
  color: #666;
  padding: 1.0rem 2.5rem;
  border-bottom: 1px solid #eee;

  span {
    flex: 1;
    text-align: left;
  }

  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
    font-size: var(--text-base);
    gap: 0.25rem;
  }
}

.stock-table-row {
  display: flex;
  text-align: left;
  padding: 1.0rem 2.5rem;
  font-size: var(--font-size-small);
  border-bottom: 1px solid #eee;
  cursor: pointer;

  &:hover {
    background: var(--background-hover);
  }

  @media (max-width: 768px) {
    padding: 0.5rem 1rem;
    font-size: var(--text-base);
    gap: 0.25rem;
  }
}

.stock-company, .stock-sector, .stock-price, .stock-score, .stock-marketCap, .stock-dividend {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);

  @media (max-width: 768px) {
    font-size: var(--text-base);
    margin-bottom: 0.25rem;
  }
}

.neutral {
  color: var(--primary-text);
  font-size: var(--font-size-small);

  @media (max-width: 768px) {
    font-size: var(--text-xs);
    margin-bottom: 0.25rem;
  }
}

.positive {
  color: var(--bull-text);
  font-size: var(--font-size-small);
  
  @media (max-width: 768px) {
    font-size: var(--text-xs);
    margin-bottom: 0.25rem;
  }
}
  
.negative {
  color: var(--bear-text);
  font-size: var(--font-size-small);
  
  @media (max-width: 768px) {
    font-size: var(--text-xs);
    margin-bottom: 0.25rem;
  }
}

.pagination_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media (max-width: 768px) {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}