@import '../../../styles/_DesignConstants.scss';

.main-div { 
  @include main-div;
}

.stock-table-container {
  @include div-container;
}

.stock-header {
  @include container-header;
}

.filterContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    gap: 3%;
    margin-bottom: 3%;
  }
}

.dropdown {
  position: relative;
  display: block;
}

.dropdownButton {
  background-color: var(--text-white);
  border: 1px solid #ccc;
  border-radius: 6px;
  color: var(--primary-text);
  font-weight: 600;
  font-size: var(--font-size-small);

  @media (max-width: 768px) {
    font-size: var(--text-xs);
    padding: 10px 14px;
  }
}

.dropdownItem {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 6px;
  white-space: nowrap; /* Ensures text stays in one line */
  max-height: 250px;   // restricts vertical height
  overflow-y: auto;    // enables vertical scrolling when needed
  min-width: 100px;

  .filter-search {
    padding: 8px 25px 8px 8px;
    border-bottom: 1px solid #ccc;
    background-color: white;

    input {
      width: 100%;
      min-width: 100px;
      padding: 6px 8px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    font-size: var(--text-base);
  }
}

.search-box {
  flex: 1;
  padding: 10px 12px 10px 36px; // leave space for icon
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--background-hover);
  color: var(--primary-text);
  font-size: var(--font-size-small);

  @media (max-width: 768px) {
    font-size: var(--text-base);
  }
}

.filter-text-div {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 4px 0 0;
  &:hover {
    background: var(--background-hover);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    font-size: var(--text-base);
  }
}

.filter-text {
  color: var(--primary-text);
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:hover {
    background: var(--background-hover);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 4px 0 0;
  }

  @media (max-width: 768px) {
    font-size: var(--text-base);
  }
}

.searchButton {
  background-color: var(--text-white);
  border: 1px solid var(--background-blue);
  border-radius: 6px;
  color: var(--primary-text);
  font-weight: 600;
  font-size: var(--font-size-small);
  padding: 6px 12px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--background-hover);
  }

  @media (max-width: 768px) {
    font-size: var(--text-s);
    padding: 10px 14px;
  }
}

.stock-total-search {
  background-color: var(--background-hover); // light slate
  padding: 0.5% 1%;
  border-radius: 5px;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  color: var(--primary-text);
  margin-left: auto; // 👈 Pushes it to the right
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: var(--text-base);
    padding: 0.5rem 1rem;
    margin-top: 3%;
  }
}

.stock-table {
  @include border-container;
}

.stock-table-head {
  @include table-columns;

  .span-company {
    flex: 1.4;
    text-align: left;
  }

  .span-score {
    flex: 0.6;
    text-align: left;
  }
}

.stock-table-row {
  @include table-rows;
}

.stock-company, .stock-sector, .stock-score, .stock-marketCap, .stock-dividend {
  @include row-items;
}

.stock-company {
  @include row-items;
  flex: 1.4;
}

.stock-score {
  @include row-items;
  flex: 0.6;
}

.stock-price {
  @include row-items;

  @media (max-width: 768px) {
    text-align: right;
  }
}

.positive {
  @include positive;
}

.negative {
  @include negative;
}

.pagination_container {
  @include pagination-container;
}


@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}
