.main-div {
  width: 100%;
  position: absolute;
  top: 6rem;
  left: 0;
  display: flex;
  background: var(--background-grey);
}

.stock-table-container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  padding: 0 2.4rem;
  font-family: 'Inter', sans-serif;
}

.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text);

  h3 {
    font-size: var(--font-large-size);
    font-weight: 600;
  }

  .stock-total-search {
    background-color: #f1f5f9; // light slate
    padding: 8px 14px;
    border-radius: 12px;
    font-size: var(--font-small-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text);
  }
}

.filterContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdownItem {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 6px;
  white-space: nowrap; /* Ensures text stays in one line */
}

.filter-text {
  color: var(--primary-text);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.stock-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid #ccc; /* Optional outer border */
}

.stock-table-head {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: var(--font-small-size);
  color: #666;
  padding: 1.0rem 2.5rem;
  border-bottom: 1px solid #eee;

  span {
    flex: 1;
    text-align: left;
  }
}

.stock-table-row {
  display: flex;
  text-align: left;
  padding: 1.0rem 2.5rem;
  font-size: var(--font-small-size);
  border-bottom: 1px solid #eee;
  cursor: pointer;

  &:hover {
    background-color: var(--background-hover);
  }
}

.stock-company {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-sector {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-price {
  flex: 1;
  font-size: var(--font-small-size);
  color: var(--primary-text);

  .positive {
    color: var(--bull-text);
    font-size: var(--font-small-size);
  }

  .negative {
    color: var(--bear-text);
    font-size: var(--font-small-size);
  }
}

.stock-score {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-marketCap {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-dividend {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.pagination_container {
  display: flex;
  justify-content: center;
}
