.main-div {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  border-bottom: 1px solid var(--primary-border);
  background-color: var(--text-white);
  z-index: 999;

  @media (max-width: 768px) {
    height: auto;
    min-height: 4rem;
    // padding: 0.5rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

// Logo Block
.logo-options {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 0 0 0 2%;
  gap: 1.2rem; // Adjusted for better spacing
  font-size: var(--text-4xl);
  font-weight: 100;

  @media (max-width: 768px) {
    padding: 0 0 0 1%;
    width: 45%;
    justify-content: center;
    gap: 0.5rem;
    order: 1;
    font-size: var(--text-xl);
  }
}

.logo-img {
  height: 45px; // Adjust height as needed
  width: auto;  // Maintain aspect ratio
  max-width: 30%; // Prevent logo from being too large
  object-fit: contain; // Ensures logo scales properly
  cursor: pointer;

  @media (max-width: 768px) {
    height: 35px;
  }
}

.logo-heading {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--bull-text);
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: var(--text-sm);
  }
}

/* Search - Center */
// .search-options {
//   width: 25%;
//   display: flex;
//   justify-content: flex-end; // Moves the icon to the right
//   align-items: center;

//   // @media (max-width: 1024px) {
//   //   width: 30%;
//   // }

//   @media (max-width: 768px) {
//     width: 25%;
//     order: 3;
//     margin-top: 0.5rem;
//   }
// }

// .search-box {
//   width: 60%;
//   max-width: 500px;
//   padding: 0.8rem 1.2rem;
//   border: 1px solid var(--primary-border);
//   border-radius: 8px;
//   font-size: var(--text-base);
//   background-color: #f9f9f9;
//   color: var(--primary-text); // Sets the input text color to black

//   // @media (max-width: 1024px) {
//   //   font-size: var(--text-sm);
//   // }

//   @media (max-width: 768px) {
//     width: 60%;
//     padding: 0.6rem 1rem;
//     font-size: var(--text-sm);
//   }
// }

// Profile Block
.profile-options {
  width: 7%;
  display: flex;
  justify-content: flex-end; // Moves the icon to the right
  align-items: center;
  padding-right: 2%; // Optional: add some padding if needed

  @media (max-width: 768px) {
    width: 10%;
    position: absolute;
    top: 1.0rem;
    right: 4%;
    order: 4;
  }
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: var(--primary-bubble-background);
  color: var(--primary-bubble-text);
  font-size: var(--text-xl);
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 38px;
    height: 38px;
    font-size: var(--text-base);
  }
}

.dropdown {
  position: absolute;
  top: 6.5rem;
  right: 2.4rem;
  background-color: white;
  border: 1px solid var(--primary-border);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 160px;
  z-index: 9999;

  @media (max-width: 768px) {
    top: 4.5rem;
    right: 0.5rem;
    width: 140px;
  }
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: var(--text-base);
  cursor: pointer;
  color: var(--primary-text);

  &:hover {
    background-color: var(--background-hover);
  }

  @media (max-width: 768px) {
    padding: 0.4rem;
    font-size: var(--text-sm);
  }
}

.tabs-section {
  width: 53%;
  font-size: var(--text-base);

  @media (max-width: 768px) {
    width: 60%;
    order: 2;
    font-size: var(--text-base);
  }
}