.main-div {
  width: 94%;
  position: absolute;
  padding: 1.5% 3%;
  top: 6rem;
  left: 0;
  display: flex;
  flex-direction: column; /* stack containers vertically */
  gap: 1.5rem; /* spacing between each container */
  background: var(--background-grey);
}

.index-details {
  width: auto;
  background-color: var(--background-white);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  padding: 0 2% 2% 2%;
  font-family: 'Inter', sans-serif;
  border-collapse: collapse; /* Ensures borders don't double up */
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid var(--background-grey); /* Optional outer border */
}

.index-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text);

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.index-info-div {
  width: auto;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid #ccc; /* Optional outer border */

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.range-row {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 1%;

  @media (max-width: 768px) {
    grid-template-columns: 25% 50% 25%;
  }
}

.range-bar {
  position: relative;
  height: 15%;
  background-color: var(--background-disabled);
  border-radius: 9999px;
  margin: 0 1%;

  @media (max-width: 768px) {
    margin: 0 10%;
  }
}

.triangle {
  position: absolute;
  top: 0.3rem;
  width: 0;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-bottom: 0.5rem solid #4b5563;
  transform: translateX(-50%);
}

.open-close-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.875rem;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 1% 0;
}

.card {
  flex: 1;
  min-width: 10%;
  margin: 1%;
  background-color: var(--background-hover);
  padding: 1%;
  border-radius: 8px;
  text-align: left;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0.1rem;
  }
}

.label {
  font-size: var(--font-size-small);
  color: var(--primary-text);

  @media (max-width: 768px) {
    padding-top: 0.1rem;
    padding-left: 0.3rem;
  }
}

.value {
  font-size: var(--font-size-small);
  color: var(--primary-text);
  font-weight: 700;

  @media (max-width: 768px) {
    padding-left: 0.3rem;
  }
}

.stock-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid  var(--border-color); /* Optional outer border */
}

.stock-table-head {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: var(--font-size-small);
  color: #666;
  padding: 1.0rem 2.5rem;
  border-bottom: 1px solid #eee;

  span {
    flex: 1;
    text-align: left;
  }

  .span-right {
    flex: 1;
    text-align: right;
  }

  @media (max-width: 768px) {
    padding: 1.0rem 1.25rem;

    .span-right {
      flex: 1;
      text-align: right;
    }
  }
}

.stock-table-row {
  display: flex;
  text-align: left;
  padding: 1.0rem 2.5rem;
  font-size: var(--font-size-small);
  border-bottom: 1px solid #eee;
  cursor: pointer;

  &:hover {
    background: var(--background-hover);
  }

  @media (max-width: 768px) {
    padding: 1.0rem 1.25rem;
    align-items: flex-end;
  }
}

.row-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);

  .positive {
    color: var(--bull-text);
    font-size: var(--font-size-small);
  }
  .negative {
    color: var(--bear-text);
    font-size: var(--font-size-small);
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.row-text-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);

  .positive {
    color: var(--bull-text);
    font-size: var(--font-size-small);
  }
  .negative {
    color: var(--bear-text);
    font-size: var(--font-size-small);
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.pagination_container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}