@import '../../../styles/DesignConstants.scss';

.main-div {
  @include main-div;
}

.popular-funds {
  width: auto;
  background-color: var(--background-white);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  padding: 0 3% 2% 3%;
  font-family: 'Inter', sans-serif;
  border-collapse: collapse; /* Ensures borders don't double up */
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid var(--background-grey); /* Optional outer border */
}

.popular-funds-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    font-size: var(--font-size-large);
    font-weight: 600;
    color: var(--primary-text);
  }

  a {
    color: #059669; // emerald-600
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.popular-funds-div {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid #ccc; /* Optional outer border */
  align-items: center;
  overflow-x: auto;
}

.popular-funds-grid {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  overflow-x: auto;
  text-align: left;
  grid-template-columns: repeat(10, 1fr);

  @media (max-width: 768px) {
    overflow-x: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

.all-mutual-funds {
  font-size: var(--font-size-small);
  color: var(--bull-text);
  text-decoration: none;
  font-weight: 500;
}

.popular-funds-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb; // gray-200
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.2s ease-in-out;
  width: 140px;
  height: 120px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.5rem;
    border-collapse: collapse; /* Ensures borders don't double up */
    border-radius: 5px;
    overflow: hidden; /* Ensures rounded corners apply properly */
    border: 1px solid #ccc; /* Optional outer border */
    align-items: center;
    padding: 2px;
  }

  @media (max-width: 768px) {
    font-size: var(--text-base);
    width: auto;
    height: auto;
  }
}

.popular-funds-card-name {
  font-size: var(--font-size-small);
  color: var(--primary-text);
}

.popular-funds-card-return {
  font-size: var(--font-size-small);
  color: var(--primary-text);
  margin-top: 0.25rem;

  span {
    font-weight: 600;
    color: var(--primary-text);
  }

  duration {
    color: var(--primary-text);
    //font-weight: 400;
  }
}

.loading-message,
.error-message,
.no-data-message {
  text-align: center;
  padding: 2rem;
  color: var(--primary-text);
  
  @media (max-width: 768px) {
    padding: 1.5rem;
    font-size: calc(var(--font-size-medium) * 0.9);
  }
}