.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.auth-input {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.auth-button:hover {
    background-color: #0056b3;
}

.auth-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}