.tabSwitcher {
  display: flex;
}

.tab {
  padding: 8px 10px;
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: var(--primary-text);
  transition: all 0.3s ease;

  &:hover {
    color: var(--bull-text);
  }
}

.active {
  // border-bottom: 3px solid #007aff;
  color: var(--bull-text);
  font-weight: 600;
  // background-color: var(--background-grey);
}
