.main-div {
  width: 100%;
  position: absolute;
  top: 6rem;
  left: 0;
  display: flex;
  background: var(--background-grey);
}

.stock-table-container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  padding: 0 2.4rem;
  font-family: 'Inter', sans-serif;
}

.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text);

  h3 {
    font-size: var(--font-size-large);
    font-weight: 600;
  }

  .seeMore {
    font-size: var(--font-size-middle);
    color: #00a976;
    text-decoration: none;
    font-weight: 500;
  }

  .refreshBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-middle);
    transition: transform 0.4s ease;
    outline: none;

    &.rotated {
      transform: rotate(90deg);
    }
  }
}

.stock-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid #ccc; /* Optional outer border */
}

.stock-table-head {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: var(--font-size-small);
  color: #666;
  padding: 1.0rem 2.5rem;
  border-bottom: 1px solid #eee;

  span {
    flex: 1;
    text-align: left;
  }
}

.stock-table-row {
  display: flex;
  text-align: left;
  padding: 1.0rem 2.5rem;
  font-size: var(--font-size-small);
  border-bottom: 1px solid #eee;
  cursor: pointer;

  &:hover {
    background: var(--background-hover);
  }
}

.stock-company {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-sector {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-price {
  flex: 1;
  font-size:var(--font-size-small);
  color: var(--primary-text);

  .positive {
    color: var(--bull-text);
    font-size: var(--font-size-small);
  }

  .negative {
    color: var(--bear-text);
    font-size: var(--font-size-small);
  }
}

.stock-score {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-marketCap {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.stock-dividend {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--primary-text);
}

.pagination_container {
  display: flex;
  justify-content: center;
}
