@import '../../styles/_DesignConstants.scss';
.main-div {
  @include main-div;
}


.index-container {
  @include div-container;
}

.tabs-container {
  margin: 16px 0 16px 0;
  border-bottom: 2px solid #ddd;

  @media (max-width: 768px) {
    margin: 16px 0 10px 0;
    font-size: var(--text-base);
  }
}

.index-table {
  @include border-container;
}

.index-table-head {
  @include table-columns;

  .span-logo {
    flex: 0.12;
    text-align: left;

    @media (max-width: 768px) {
      flex: 0.2;
    }
  }

  @media (max-width: 768px) {
    padding: 4% 4%;
    font-size: var(--text-base);
    gap: 1%;

    .span-right {
      flex: 1;
      text-align: right;
    }
  }
}

.index-table-row {
    @include table-rows;
}

.index-row {
  @include row-items;
}

.index-row-right {
  @include row-items;

  @media (max-width: 768px) {
    text-align: right;
  }
}

.index-row-logo {
  @include row-items;
  flex: 0.12;

  @media (max-width: 768px) {
    flex: 0.2;
  }
}

.index-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
  align-items: center;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 2px;
  overflow: hidden; /* Ensures rounded corners apply properly */
  border: 1px solid var(--background-hover); /* Optional outer border */
}

.neutral {
  @include neutral;
}

.positive {
  @include positive;
}
  
.negative {
  @include negative;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}