@import '../../../styles/_DesignConstants.scss';

.main-div {
  @include main-div;
}

.index-details {
  @include div-container;
}

.index-title {
  @include container-header;
}

.index-info-div {
  @include border-container;
}

.row {
  @include row;
}

.card {
  @include card;
}

.flexRow {
  @include flexRow;
}

.label {
  @include label;
}

.value {
  @include value;
}

.not-found-div {
  font-size: var(--font-size-small);
  color: var(--primary-text);
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
}

.stock-table {
  @include border-container;
}

.stock-table-head {
  @include table-columns;
}

.stock-table-row {
  @include table-rows;
}

.row-text {
  @include row-items;
}

.pagination_container {
  @include pagination-container;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}